*.class

#intellij
*.iml
/.idea
Client/.idea
iRMI.RMIRegistry/.idea
iRMI.RMIRegistry/out
ServerHttp/.idea
ServerHttp/out
ServiceDelivery/.idea
ServiceDelivery/out
out/

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
